<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>Home | Veridic Solutions LLc</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link href="../static/css/styles.css" th:href="@{css/styles.css}"
	rel="stylesheet" media="screen" />
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Veridic Solutions LLc.</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/timesheet">Time sheets</a></li>
					<li><a href="/expenses">Expenses</a></li>
					<li><a href="/absenceManagement">Absence Management</a></li>
					<li><a href="#contact"><span
							sec:authorize="hasRole('ROLE_ADMIN')">Employees</span></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="./"> <span
							class="glyphicon glyphicon-th-large"></span></a></li>
					<li class="dropdown"><a href="./" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Logged as : <span
							sec:authentication="name"></span> 
							<span sec:authorize="hasRole('ROLE_ADMIN')">(Admin)</span>
							<span sec:authorize="hasRole('ROLE_USER')">(User)</span>
							<span sec:authorize="hasRole('ROLE_HR')">(HR Manager)</span>
							<span sec:authorize="hasRole('ROLE_SUPERADMIN')">(Super Admin)</span>
							<span class="sr-only">(current)</span>
							<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">My Documents</li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">My Settings</li>
							<li role="separator" class="divider"></li>
							<li><a name="header" href="profileDisplay"
								class="navbar-brand"><span class="glyphicon glyphicon-user"></span>
									Profile</a></li>
							<li><a name="header" href="logout" class="navbar-brand"><span
									class="glyphicon glyphicon-off"></span> Logout</a></li>
						</ul></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">
		<form>
			<h1>My Info</h1>

			<div class="tile-emp-info">
				<div class="panel-body pn">
					<div class="widget-pad">
						<div class="col-md-12 col-lg-12">
							<div class="col-md-6 col-lg-3" style="padding-left: 0">
								<div class="col-md-6 col-lg-3 np">
									<div id="img_preview">
										<img
											src="/companies_data/3572/upload/thumb_14966912490160509-WA0002.jpg"
											border="0" class="img-responsive" alt="Employee" />
									</div>
									<a class="img_change" href="javascript:void(0)"><i
										class="fa fa-pencil fakeBrowse"></i> </a>
								</div>
								<form id="emp_personal_details" method="post"
									enctype="multipart/form-data" action="/Employees/add_emp_photo">
									<input type="file" class="photoimg inputFile" name="photoimg"
										id="photoimg" style="display: none !important" /> <input
										type="hidden" id="filename" readonly="true" value="" /> <input
										type="hidden" name="employee_id" id="employee_id"
										value="19259" /> <input type="hidden"
										name="preview_image_name" id="preview_image_name" value="" />
									<input type="hidden" name="actual_image_name"
										id="actual_image_name" value="" />
								</form>

								<div class="col-md-6 col-lg-9 shot_details pt-0">
									<p class="fw600"><td th:text="${userProfile.firstName}" />, <td th:text="${userProfile.surname}" /><br/><span class="designation"> HR
											Manager </span>
										<!-- code for display job title -->
										<!-- code end for display job title -->
									</p>
									<p>Emp-Id : EC120</p>
									<p class="mobile_no"><td th:text="${userProfile.cellPhoneNumber}" /></p>
									<p class="email_id"><td th:text="${userProfile.email}" /></p>
								</div>
								<div
									class="col-md-12 col-lg-12 shot_details user_description np margin-10t add_custom_scrollbar">
									<span id="empDescriptionCnt" class="more_text"> </span> <a
										href="#"
										id="editEmpDescription" class="add-description"
										title="Add About yourself.">Add About Yourself</a>
								</div>
							</div>
							<div class="col-md-6 col-lg-9">
								<div class="col-md-6 pt-0 grablr">
									<div class="col-md-12 margin-5b pt-0">
										<h4>Timesheets</h4>
										<p class="well nm clearfix">You don't have any timesheets
											to submit for current month</p>
									</div>
									<div class="col-md-12 margin-5b">
										<h4>Status Report</h4>
										<p class="well nm clearfix">You don't have any status
											reports to submit</p>
									</div>
									<div class="col-md-12">
										<h4>Organization Documents</h4>
										<p class="well nm clearfix">
											Gives access to the documents shared with you
											<a href="#" type="3" class="org_doc_link dbBtn pull-right">
												View Documents</a>
										</p>
									</div>
								</div>
								<div class="col-md-6 pt-0">
									<div class="col-md-12 pt-0">
										<div>
											<h4>Key Dates</h4>
											<table width="100%" cellspacing="0" cellpadding="0"	border="0" class="table table-hover">

												<thead>
													<tr class="info">
														<th>Type</th>
														<th>Status</th>
														<th>Approved From</th>
														<th>Approved Till</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="keydate : ${keyDates}">
														<td th:text="${keydate.type}"></td>
														<td th:text="${keydate.status}"></td>
														<td th:text="${keydate.from}"></td>
														<td th:text="${keydate.to}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="data-table dataTable col-md-12 margin-20t cl"
								style="padding-left: 0; padding-right: 0">
								<h4>Active Placements</h4>
								<table width="100%" cellspacing="0" cellpadding="0" border="0"
									class="table table-hover">

									<thead>
										<tr class="info">
											<th>Job Code</th>
											<th>Title</th>
											<th>End Client</th>
											<th>Start Date</th>
											<!-- <th>End Date</th> -->
										</tr>
									</thead>
									<tbody>
										<tr th:each="placement : ${placements}">
											<td th:text="${placement.jobCode}"></td>
											<td th:text="${placement.title}"></td>
											<td th:text="${placement.client}"></td>
											<td th:text="${placement.startDate}"></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
<script src="webjars/jquery/2.1.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="../static/js/home.js" th:src="@{js/home.js}"></script>
</html>
