<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Spring MVC view layer: Thymeleaf vs. JSP</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
      href="../../css/thvsjsp.css" th:href="@{/css/thvsjsp.css}" />
  </head>

  <body>

    <tr th:each="message : ${messages}">
        <td th:text="${message.surname}">1</td><br/>
        <td><a href="#" th:text="${message.firstName}">Title ...</a></td><br/>
        <td th:text="${message.email}">Text ...</td><br/><br/><br/><br/>
    </tr>

  </body>

</html>